<p margin="3px"; padding="36px"><strong style="color:red">Carlos Araque Moreno<strong></p>
  <img src="images/yo.png" border="3" align="middle" VSPACE="3" HSPACE="3"  border-color="black" margin="5px">
